.Clear{clear:both;width:100%;height:1px;}
a,a:hover,a:visited{color:#343b4e;text-decoration:none;}

#Header{position:relative;top:0px;left:0px;width:100%;height:30px;background:#222;}
#Header #username {color: white; position:relative; float:right;font-size: 20px;vertical-align: middle; padding: 3px 100px;}

#Bodyer{margin:0;padding:0;width:100%;flex: 1 0 auto;}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.3);background-color:rgba(255,255,255,0.5);}
body::-webkit-scrollbar{width:5px;background-color:rgba(255,255,255,0.5);}
body::-webkit-scrollbar-thumb{border-radius:30px;background-color:rgba(0,0,0,0.5);}

#Head{position:relative;top:200px;left:0px;width:100%;height:100px;}
#Logo{margin:0 auto;width:50%;height:100%;text-align:center;font-size:4vw;}
#Logo img{margin:10px auto;width:100%;}

#Footer{clear:both;padding:15px 0 10px;width:100%;height:35px;background:#ededed;flex-shrink:0;}
#CopyRight{margin:auto;width:100%;text-align:center;color:#343b4e;font-size:13px;line-height:30px;}

/* button */
button, input[type=button], input[type=reset], input[type=submit] {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    border-radius: 2px;
    transition: 0.2s ease all;
}
/* END button */

/* position */
.topright{position:absolute;top:0;right:0;padding:5px 10px;}
.topleft{position:absolute;top:0;left:0;width:25px;height:25x;padding:3px 10px;}
/* END position */

/* Loader modal */
/* #loader { */
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* z-index: 1; */
  /* width: 120px; */
  /* height: 120px; */
  /* margin: -76px 0 0 -76px; */
  /* border: 16px solid #f3f3f3; */
  /* border-radius: 50%; */
  /* border-top: 16px solid #3498db; */
  /* -webkit-animation: spin 2s linear infinite; */
  /* animation: spin 2s linear infinite; */
/* } */

/* @-webkit-keyframes spin { */
  /* 0% { -webkit-transform: rotate(0deg); } */
  /* 100% { -webkit-transform: rotate(360deg); } */
/* } */

/* @keyframes spin { */
  /* 0% { transform: rotate(0deg); } */
  /* 100% { transform: rotate(360deg); } */
/* } */

/* .modal { */
	/* position: fixed; /* Stay in place */ */
	/* z-index: 3; /* Sit on top */ */
	/* padding-top: 100px; /* Location of the box */ */
	/* left: 0; */
	/* top: 0; */
	/* width: 100%; /* Full width */ */
	/* height: 100%; /* Full height */ */
	/* overflow: auto; /* Enable scroll if needed */ */
	/* background-color: rgb(0,0,0); /* Fallback color */ */
	/* background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ */
/* } */

/* #overlay { */
  /* position: fixed; /* Sit on top of the page content */ */
  /* display: none; /* Hidden by default */ */
  /* width: 100%; /* Full width (cover the whole page) */ */
  /* height: 100%; /* Full height (cover the whole page) */ */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* background-color: rgba(0,0,0,0.3); /* Black background with opacity */ */
  /* z-index: 1; /* Specify a stack order in case you're using a different order for other elements */ */
  /* cursor: pointer; /* Add a pointer on hover */ */
/* } */
/*END Loader modal*/

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}
/*----- END loader -----*/

/*----- Pagination -----*/
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #E8E8E8;
}

.pagination a.active {
  background-color: #1c6dd9;
  color: white;
}
/*----- END Pagination -----*/

/*----- Global Loader -----*/
#global-loader {
    position: fixed;
    z-index: 50000;
    background: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.loader-img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 43%;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
/*----- END Global Loader -----*/

/*----- START Card -----*/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid transparent;
    background-clip: border-box;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    width: 35%;
	margin: auto;
	border:solid 1px #adb3db;
}

.card-header {
	text-align: center;
    background: none;
    padding: 1rem 1.5rem;
    display: -ms-flexbox;
	font-weight:bold;
    /* display: flex; */
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    background-color: transparenrt;
    border-bottom: 1px solid #eaedf1;
}

.card-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 25px;
    margin: 0;
    position: relative;
}

/*----- END Card -----*/


.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media img {
    width: 40px;
    height: 40px;
}

.media-body {
    zoom: 1;
    overflow: hidden;
    width: auto;
    -ms-flex: 1;
    flex: 1;
}

.media-body, .media-left, .media-right {
    display: block;
    vertical-align: top;
}

.media-object {
    display: block;
}

.mb-5, .my-5 {
    margin-bottom: 1.5rem !important;
}

.mt-0, .my-0 {
    margin-top: 0 !important;
}

.me-3, .mx-3 {
    margin-right: 0.75rem !important;
}

.d-flex {
    display: flex!important;
}

a {
    color: #6259ca;
}

.rounded-circle {
    border-radius: 50% !important;
}

.text-dark {
    color: #100f15 !important;
}

.text-muted {
    color: #76839a !important;
}

small, .small {
    font-size: 80%;
    font-weight: 400;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    align-items: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }