<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
			 <rule name="Redirect to HTTPS without www" stopProcessing="true">
				<match url="(.*)" />
				<conditions logicalGrouping="MatchAll">
					<add input="{HTTPS}" pattern="^OFF$" />
					<add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$" />
				</conditions>
				<action type="Redirect" url="https://{C:2}/{R:1}" redirectType="Permanent" />
				</rule>
			<rule name="Special case for HTTPS with www" stopProcessing="true">
				<match url="(.*)" />
				<conditions logicalGrouping="MatchAll">
					<add input="{HTTPS}" pattern="^ON$" />
					<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
				</conditions>
				<action type="Redirect" url="https://{C:2}/{R:1}" redirectType="Permanent" />
			</rule>
			</rules>
		  </rewrite>
    </system.webServer>
</configuration>
