<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="FHIR LMS-Forgot Password">
    <meta name="author" content="Victoria">
    <meta name="keywords" content="fhir, lms, learning, course, teacher, student, learning platform, learning management system">

    <title>FHIR LMS - @ViewData["Title"]</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/brand/favicon.ico" />

    <!-- TITLE -->
    <title>FHIR LMS-Forgot Password</title>

    <!-- BOOTSTRAP CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/dark-style.css" rel="stylesheet" />
    <link href="/assets/css/skin-modes.css" rel="stylesheet" />

    <!--C3 CHARTS CSS -->
    <link href="/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

    <!-- SINGLE-PAGE CSS -->
    <link href="/assets/plugins/single-page/css/main.css" rel="stylesheet" type="text/css">

    <!-- P-scroll bar css-->
    <link href="/assets/plugins/p-scroll/perfect-scrollbar.css" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/assets/colors/color1.css" />

    <!--SWEET ALERT CSS-->
    <link href="/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">FHIR_LMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ForgotPassword">Forgot Password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FHIR_LMS - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <!-- JQUERY JS -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- SPARKLINE JS-->
    <script src="/assets/js/jquery.sparkline.min.js"></script>

    <!-- CHART-CIRCLE JS-->
    <script src="/assets/js/circle-progress.min.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="/assets/plugins/p-scroll/perfect-scrollbar.js"></script>

    <!-- INPUT MASK JS-->
    <script src="/assets/plugins/input-mask/jquery.mask.min.js"></script>

    <!-- CUSTOM JS-->
    <script src="/assets/js/custom.js"></script>

    <!-- SWEET-ALERT JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"></script>

    <!-- FHIR SETTING JS -->
    <script src="/assets/js/setting.js"></script>

    <!-- HTTP REQUEST JS -->
    <script src="/assets/js/http-request.js"></script>

    <!-- SHA 256 -->
    <script src="/assets/js/sha256.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
