.Btn{cursor:pointer;padding:5px;color:#fff;background:#999;}
.Clear{clear:both;width:100%;height:1px;background:none;}

#Logo{padding:40px 0;}
/*#Head{position: relative;margin:-100px 300px auto;width:1500px;}*/
#Head{position: relative;margin:-100px 50px 200px auto;width:1500px;}
#Right {position:fixed;bottom:80px;right:10px;}
#Right .Add{width:50px;height:50px;border-radius:50px;background:#aaa;text-align: center;line-height: 50px;overflow: hidden;}

/*#Body{position: relative;margin:0 auto;padding:20px 0 0;width:1500px;height:500px;top:180px;overflow: scroll;}*/
#Body{position: relative;margin:80px auto 10px auto; }
#Search{clear:both;height:100px;}
#Search .Header{}
#Search .Bodyer{}
#Search .Bodyer .L1s{padding:15px;}
#Search .Bodyer .L1s .L1{float:left;margin:5px 0;padding:10px;}
#Search .Bodyer .L1s .L1 select{width:100px;height:40px;}
#Search .Bodyer .L1s .L1 input{padding:10px;width:875px;}
#Search .Bodyer .L1s .L1 .Btn{width:100px;line-height:27px;text-align:center;}
#Search .Footer{}

#List .List-MedicalRecord{clear:both;}
#List .List-MedicalRecord .Header{margin:10px auto;padding:15px 25px;border-left:6px solid #1c6dd9;display:flex;align-items:center;}
#List .List-MedicalRecord .Header .Title{float:left;  }
#List .List-MedicalRecord .Header .Tool{padding:0 10px;}
#List .List-MedicalRecord .Header .Tool .L1s .L1{float:left;width:150px;}
#List .List-MedicalRecord .Header .Tool .L1s .L1 .Btn{margin:0;width:80%;text-align:center;border:1px solid #999;}
#List .List-MedicalRecord .Header .Tool .L1s .L1 .Btn:hover{color:#999;background:#fff;}
#List .List-MedicalRecord .Bodyer-Open .Header .Toggle:after{content: '隱藏';}
#List .List-MedicalRecord .Bodyer-Close .Header .Toggle:after{content: '展開';}
#List .List-MedicalRecord .Bodyer{max-height:600px;overflow: scroll;transition: max-height 1s;}
#List .List-MedicalRecord .Bodyer-Open .Bodyer{max-height: 600px;}
#List .List-MedicalRecord .Bodyer-Close .Bodyer{max-height: 0px;}
#List .List-MedicalRecord .Bodyer table {width: 100%;cursor: pointer;}
#List .List-MedicalRecord .Bodyer table thead {background-color: #ededed;font-weight: bold;height:50px}
#List .List-MedicalRecord .Bodyer table thead th{vertical-align: middle;}
#List .List-MedicalRecord .Bodyer table tbody tr{text-align: center;height: 40px;}
#List .List-MedicalRecord .Bodyer table tbody tr:hover{background-color:#999; color: #eee; height: 40px;}
#List .List-MedicalRecord .Bodyer table tbody tr td{text-align: center;vertical-align: middle;}

#List .List-MedicalRecord .Bodyer .L1s{}
#List .List-MedicalRecord .Bodyer .L1s .L1{cursor:pointer;clear:both;padding:5px 0px 5px;}
#List .List-MedicalRecord .Bodyer .L1s .L1:hover{background:#ededed;}
#List .List-MedicalRecord .Bodyer .L1s .header{background-color:#ededed;font-weight: bold;}
#List .List-MedicalRecord .Bodyer .L1s .L1 > div{margin:5px;padding:5px 10px;text-align:center;}
#List .List-MedicalRecord .Bodyer .L1s .L1 .Num{float:left;width:5%;}
#List .List-MedicalRecord .Bodyer .L1s .L1 .Date{float:left;width:10%;}
#List .List-MedicalRecord .Bodyer .L1s .L1 .MRDesc{float:left;width:40%;}
#List .List-MedicalRecord .Bodyer .L1s .L1 .OrganizationDesc{float:left;width:15%;}
#List .List-MedicalRecord .Bodyer .L1s .L1 .Tool{float:left;padding:0 10px;width:10%;}
#List .List-MedicalRecord .Bodyer .L1s .L1 .Tool .L2s .L2{margin:auto;width:50px;}
#List .List-MedicalRecord .Bodyer .L1s .L1 .Tool .L2s .L2 .Btn{margin:0 auto;width:80%;text-align:center;border:1px solid #999;}
#List .List-MedicalRecord .Bodyer .L1s .L1 .Tool .L2s .L2 .Btn:hover{color:#999;background:#fff;}
#List .List-MedicalRecord .Footer{}


#Page{display:none;clear:both;margin:10px auto;padding:10px 0;width:45%;}
#Page .L1s{}
#Page .L1s .L1{cursor:pointer;float:left;margin:5px 10px;padding:5px 10px;}
#Page .L1s .L1.Active{color:#fff;Background:#ccc;}


#Add{margin:20px auto;width:100%;}
#Add .Header{margin:10px auto;padding:15px 25px;border-left:6px solid #1c6dd9;}
#Add .Bodyer{margin:10px auto;width:95%;}
#Add .Bodyer .L1s .L1{margin:0 0 10px;}
#Add .Bodyer .L1s .L1>div{float:left;margin:5px 10px 5px 0;padding:5px;line-height:35px;}
#Add .Bodyer .L1s .L1 input[type="text"]{padding:10px;width:900px;border:none;border-bottom:2px solid #ddd;}
#Add .Bodyer .L1s .L1 .Message{color:#f00;}
#Add .Footer{margin:10px auto;width:100%;}
#Add .Footer .Tool .L1s .L1{float:left;margin:0 0 10px;width:50%;}
#Add .Footer .Tool .L1s .L1 .Btn{margin:0 auto;padding:20px 10px;width:85%;text-align:center;border:1px solid #999;}
#Add .Footer .Tool .L1s .L1 .Btn:hover{color:#999;background:none;}

#Edit{margin:20px auto;width:100%;}
#Edit .Header{margin:10px auto;padding:15px 25px;border-left:6px solid #1c6dd9;}
#Edit .Bodyer{margin:10px auto;width:95%;}
#Edit .Bodyer .L1s .L1{margin:0 0 10px;}
#Edit .Bodyer .L1s .L1>div{float:left;margin:5px 10px 5px 0;padding:5px;line-height:35px;}
#Edit .Bodyer .L1s .L1 input[type="text"]{padding:10px;width:900px;border:none;border-bottom:2px solid #ddd;}
#Edit .Bodyer .L1s .L1 .Message{color:#f00;}
#Edit .Footer{margin:10px auto;width:100%;}
#Edit .Footer .Tool .L1s .L1{float:left;margin:0 0 10px;width:50%;}
#Edit .Footer .Tool .L1s .L1 .Btn{margin:0 auto;padding:20px 10px;width:85%;text-align:center;border:1px solid #999;}
#Edit .Footer .Tool .L1s .L1 .Btn:hover{color:#999;background:none;}


#Detail{margin:20px auto;width:100%;}
#Detail .Header{margin:10px auto;padding:15px 25px;border-left:6px solid #1c6dd9;display:flex;align-items:center;}
#Detail .Header .Title{float:left;width:100px;}
#Detail .Header .Tool{padding:0 10px;}
#Detail .Header .Tool .L1s .L1{float:left;width:150px;}
#Detail .Header .Tool .L1s .L1 .Btn{margin:0;width:80%;text-align:center;border:1px solid #999;}
#Detail .Header .Tool .L1s .L1 .Btn:hover{color:#999;background:#fff;}
#Detail.Bodyer-Open .Header .Toggle:after{ content: '隱藏';}
#Detail.Bodyer-Close .Header .Toggle:after{ content: '展開';}
#Detail .Bodyer{margin:10px auto;width:95%;overflow: hidden;transition: max-height 1s;}/*transition: opacity 1s, max-height 0.35s ease;*/
#Detail.Bodyer-Open .Bodyer{max-height: 500px;}
#Detail.Bodyer-Close .Bodyer{max-height: 0px;}
#Detail .Bodyer .L1s .L1{margin:0 0 10px;}
#Detail .Bodyer .L1s .L1>div{float:left;margin:5px 10px 5px 0;padding:5px;line-height:35px;}
#Detail .Bodyer .L1s .L1 input{padding:10px;width:900px;border:none;border-bottom:2px solid #ddd;}
#Detail .Bodyer .L1s .L1 .Message{color:#f00;}
#Detail .Footer{margin:10px auto;width:100%;}
#Detail .Footer .Tool .L1s .L1{float:left;margin:0 0 10px;width:50%;}
#Detail .Footer .Tool .L1s .L1 .Btn{margin:0 auto;padding:20px 10px;width:85%;text-align:center;border:1px solid #999;}
#Detail .Footer .Tool .L1s .L1 .Btn:hover{color:#999;background:none;}
