@page
@model FHIR_LMS.Pages.forgot_passwordModel
@{
}

<!-- BACKGROUND-IMAGE -->
<div class="login-img">
    <!-- GLOABAL LOADER -->
    <div id="global-loader">
        <img src="/assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- End GLOABAL LOADER -->
    <!-- PAGE -->
    <div class="page">
        <div class="">
            <!-- CONTAINER OPEN -->
            <div class="col col-login mx-auto">
                <div class="text-center">
                    <h1 style="color:white; font-weight:bold;">FHIR LMS</h1>
                </div>
            </div>
            <div class="container-login100">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <form class="card shadow-none" method="post" runat="server">
                            <div class="card-body">
                                <div class="text-center">
                                    <span id="labelTitle" class="login100-form-title"></span>
                                </div>
                                <div class="pt-3" id="forgot">
                                    <form id="forgot-password-form" class="form-group" method="post">
                                        <div id="panelReqToken" style="display:none;">
                                            <label for="tb_email" class="form-label">Email</label>
                                            <input id="tb_email" class="form-control" type="email" required>
                                            <div id="validate_email" class="invalid-feedback" style="display:none;">Please input your Email</div>
                                        </div>
                                        <div id="panelResetPassword" style="display:none;">
                                            <label for="tb_password" class="form-label">Password</label>
                                            <input id="tb_password" class="form-control" type="password" onkeyup="hash_password.value = sha256(this.value);">
                                            <input id="hash_password" type="hidden"/>
                                            <div id="validate_password" class="invalid-feedback" style="display:none;">Please input your password</div>
                                        </div>
                                    </form>
                                    <div class="submit">
                                        <br/><a id="button_submit" class="btn btn-primary d-grid">Submit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                @*<div class="d-flex justify-content-center my-3">
                                        <a href="" class="social-login  text-center me-4">
                                            <i class="fa fa-google"></i>
                                        </a>
                                        <a href="" class="social-login  text-center me-4">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="" class="social-login  text-center">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>*@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!--END PAGE -->

</div>
@section scripts {
    <script>
        var query_param;
        //Step 1.Function Initialization
        $(document).ready(function () {
            $("#global-loader").show();
            //document.getElementById("global-loader").style.display="block";
            query_param = new URLSearchParams(window.location.search)
            if (!query_param.has('id')) {
                labelTitle.innerHTML = "Request password reset";
                panelResetPassword.style.display = "none";
                panelReqToken.style.display = "block";
            }
            else {
                //Check token validity
                //Step 1. Get Person by reset-password-token
                var personJSON = getResource(FHIRURL, 'Person', '?identifier=' + query_param.get('id'), FHIRResponseType, 'verifyUser');
            }
        });

        function verifyUser(str) {
            let obj = JSON.parse(str)
            //Step 2.1 If account unexist
            if (obj.total == 0) {
                var message = "It looks like you clicked on an invalid password reset link. Please try again.";
                var page_url = window.location.href.split('?')[0];
                alertRedirect('Alert!', message, 'error', page_url);
            }
            //Step 2.2 If account exist
            else if (obj.total == 1) {
                labelTitle.innerHTML = "Change password";
                panelReqToken.style.display = "none";
                panelResetPassword.style.display = "block";
            }
        }


        $("#button_submit").click(function () {
            $("#global-loader").show();
            if (!query_param.has('id')) {
                var user_email = $('#tb_email').val();
                if (user_email != '')
                {
                    validate_email.style.display = "none";
                    $.ajax({
                        type: "GET",
                        url: '@Url.Page("forgotpassword", "ReqToken")',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: "user_email=" + user_email,
                        success: function (response) {
                            if (response.func_type == "normal") {
                                alertNormal(response.header, response.message, response.err_type);
                            }
                            else if (response.func_type == "redirect") {
                                alertRedirect(response.header, response.message, response.err_type, response.redirect_url);
                            }
                        },
                        failure: function (response) {
                            alertNormal('Alert!', response, 'error');
                        }
                    });
                }
                else
                {
                    $("#validate_email").show();
                    $("#global-loader").hide();
                }
            }
            else {
                var user_password = $('#hash_password').val();
                if (user_password != '') {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Page("forgotpassword", "ResetPassword")',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: "user_password=" + user_password + "&token_id=" + query_param.get('id'),
                        success: function (response) {
                            if (response.func_type == "normal") {
                                alertNormal(response.header, response.message, response.err_type);
                            }
                            else if (response.func_type == "redirect") {
                                alertRedirect(response.header, response.message, response.err_type, response.redirect_url);
                            }
                        },
                        failure: function (response) {
                            alertNormal('Alert!', response, 'error');
                        }
                    });
                }
                else {
                    $("#validate_password").show();
                    $("#global-loader").hide();
                }
            }
        });


        function alertNormal(ptitle, pmessage, picon) {
            $("#global-loader").hide();
            Swal.fire({
                title: ptitle,
                text: pmessage,
                icon: picon
            })
            $('#tb_email').val('');
            $('#tb_password').val('');
        }

        function alertRedirect(ptitle, pmessage, picon, purl) {
            $("#global-loader").hide();
            Swal.fire({
                title: ptitle,
                text: pmessage,
                icon: picon
            }).then(function () {
                $('#tb_email').val('');
                $('#tb_password').val('');
                window.open(purl, "_self");
            });
        }

    </script>
}
    <!-- BACKGROUND-IMAGE CLOSED -->
